<a href="https://colab.research.google.com/github/Khey17/100-Days-Of-ML-Code/blob/main/PythonCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First Program**

In [ ]:
name = input('What is your name?')
'Hello ' + name

What is your name?Barthalemow Henry Allen

'Hello Barthalemow Henry Allen'

**Fundamental Data Types**

In [ ]:
int
float
bool
str
# list
tuple
set
dict

dict

*Classes -> Custom Types*

*Specialized Data Types*

In [ ]:
None

**int & float**

In [ ]:
print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4))
print(type(2 % 4))
print(2 ** 4)
print(2 // 4)
print(round(2/3))
print(abs(2 - 4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
16
0
1
2

**Operator Precedence**

In [ ]:
print((20 - 3) + 2 ** 2)

21

**Other Data Type**

In [ ]:
print(complex(2, 4))
print(bin(5))
print(int('0b101', 2))

(2+4j)
0b101
5

**Variables**

In [ ]:
var = 192
print("I'm Batman " + str(var))

var1, var2, var3 = 1, 2, 3
print(var1 + var2 + var3)

I'm Batman 192
6

**Expressions & Statements**

In [ ]:
iq = 192 # Expression
print(iq) # Statement

# augmented assignment operator
someValue = 5
someValue += 2
print(someValue)

192
7

**Strings**

In [ ]:
print(type('''I'm Batman'''))
print(type("I'm Batman"))

# string concatenation
firstName = 'Karthikheyaa'
lastName = 'Kurra'
print(firstName + " " + lastName)
print('Hello' + 'Everyone')
print('My IQ is ' + str(192))

print(type(str(192)))
print(type(int(str(192)))) # Type Conversion

<class 'str'>
<class 'str'>
Karthikheyaa Kurra
HelloEveryone
My IQ is 192
<class 'str'>
<class 'int'>

**Escape Sequence**

In [ ]:
weather = "It's kinda sunny" # correct way
# 'It's kinda sunny' or print('It's kinda sunny') will throw an error

weather = '''It's kinda sunny'''
# Or
# weather = 'It\'s kinda sunny'
print(weather)

# formatted strings
name = 'John'
age = 55
print('hi ' + name + ', You are ' + str(age) + ' years old')
print(f'hi {name}, You are {age} years old')
print('hi {}, You are {} years old'.format(name, age))
print('hi {}, You are {} years old'.format('John', 55))

It's kinda sunny
hi John, You are 55 years old
hi John, You are 55 years old
hi John, You are 55 years old
hi John, You are 55 years old

**String Indexes**

In [ ]:
name = 'kurra'
print(name[0])
# name[5] will throw an error
# [start:stop:stepover]
print(name[0:3:2])
print(name[0:5:2])
print(name[1:])
print(name[::1])
print(name[-1:-6:-1])
print(name[::-1])

# This is called as String Slicing

k
kr
kra
urra
kurra
arruk
arruk

In [ ]:
# immutability
# name[0] = 'I' throws an error, you cannot reassign a value to a part of a string
name = name + ' K'
name

'kurra K'

**Built-in Functions**

In [ ]:
# Examples
str()
int()
abs(0)
len('char')
print(name[0:len(name)])  # len(name) = number of character (incl spaces) or elements
print(name.capitalize())
print(name.upper())
print(name.find('K'))
print(name.replace('urra K', 'athi R'))

kurra K
Kurra k
KURRA K
6
kathi R

**Booleans**

In [ ]:
False
True

True

In [ ]:
print(bool(0))
print(bool(1))

False
True

**Type Conversion**

In [ ]:
name = 'Khey'
age = 50
relationShip = 'single'

relationShip = 'complicated'
relationShip

'complicated'

In [ ]:
birthYear = input('What year you were born? ')  # This is a string
birthYear = int(birthYear)  # str to int conversion

age = 2022 - birthYear
print(f'You are {age} years old')

What year you were born? 2002
You are 20 years old

**Password Checker Exercise**

In [ ]:
username = input('username: ')
password = input('password: ')

print(username)
print(password.replace(password[0:len(password)], str('*' * len(password))) + ' contains ' + str(len(password)) + ' characters')

username: Khey69
password: 69LadiesMan
Khey69
*********** contains 11 characters

**Lists**

In [ ]:
List = ['hello', 'Mr. Stark']
print(List)  # Data Structure

L = [2, 4, 6, 8, False, True, 'bool']
print(L)

amazonCart = ['Mamaearth Bodywash', 'Argan Shampoo', 'Neutrogena Foam Face Wash']
print(amazonCart)

# list slicing
print(amazonCart[1:3:2])  # [start:end:step]
print(amazonCart[0::2])

newCart = amazonCart[1::]
print(newCart)
newCart = amazonCart[0::2]
print(newCart)

['hello', 'Mr. Stark']
[2, 4, 6, 8, False, True, 'bool']
['Mamaearth Bodywash', 'Argan Shampoo', 'Neutrogena Foam Face Wash']
['Argan Shampoo']
['Mamaearth Bodywash', 'Neutrogena Foam Face Wash']
['Argan Shampoo', 'Neutrogena Foam Face Wash']
['Mamaearth Bodywash', 'Neutrogena Foam Face Wash']

**Matrix**

In [ ]:
matrix = [[1, 2, 7],
          [3, 4, 8],  # Or written as [[1, 2], [3, 4], [5, 6]]
          [5, 6, 9]]
print(matrix)
print(matrix[0][0])
print(matrix[0][0] + matrix[0][1])
print(matrix[0::2][0::])
print(len(matrix))  # refer to list methods w3 Schools
newMatrix = matrix.append([10, 11, 12])
print(matrix)
print(newMatrix)  # prints None

# Append
matrix.append([10, 11, 12])
newMatrix = matrix
print(matrix)
print(newMatrix)  # Doesn't print None

# Insert
matrix.insert(3, 100) # (index, element)
print(matrix)

# Extend
matrix.extend([[10, 20]])
print(matrix)

# Remove
matrix.pop()
print(matrix)  # Removes the extended elements
matrix.pop(0)
print(matrix)  # Removes the element at index 0
matrix.pop(2)
print(matrix)  # Removes the element at index 2

newMatrix = matrix.pop(3)
print(newMatrix)

# Index
print(newMatrix.index(11))  # Outputs the index location
basket = ['flowers', 'fruits', 'stones', 'water', 'flowers']
print(basket.index('stones'))
print('water' in basket)  # Outputs true if the mentioned element exists in the list
print(basket.count('flowers'))

# Sort
basket.sort()
print(basket)
newList = [3, 9, 1, -5, 2, -10]
newList.sort()
print(newList)
copyList = newList.copy()
print(copyList)
newList.reverse()
print(newList)

print(newList[::-1])  # reverse order uaing slicing

[[1, 2, 7], [3, 4, 8], [5, 6, 9]]
1
3
[[1, 2, 7], [5, 6, 9]]
3
[[1, 2, 7], [3, 4, 8], [5, 6, 9], [10, 11, 12]]
None
[[1, 2, 7], [3, 4, 8], [5, 6, 9], [10, 11, 12], [10, 11, 12]]
[[1, 2, 7], [3, 4, 8], [5, 6, 9], [10, 11, 12], [10, 11, 12]]
[[1, 2, 7], [3, 4, 8], [5, 6, 9], 100, [10, 11, 12], [10, 11, 12]]
[[1, 2, 7], [3, 4, 8], [5, 6, 9], 100, [10, 11, 12], [10, 11, 12], [10, 20]]
[[1, 2, 7], [3, 4, 8], [5, 6, 9], 100, [10, 11, 12], [10, 11, 12]]
[[3, 4, 8], [5, 6, 9], 100, [10, 11, 12], [10, 11, 12]]
[[3, 4, 8], [5, 6, 9], [10, 11, 12], [10, 11, 12]]
[10, 11, 12]
1
2
True
2
['flowers', 'flowers', 'fruits', 'stones', 'water']
[-10, -5, 1, 2, 3, 9]
[-10, -5, 1, 2, 3, 9]
[9, 3, 2, 1, -5, -10]
[-10, -5, 1, 2, 3, 9]

In [ ]:
sentence = ''
newSentence = sentence.join(['Hi ', 'my ', 'name ', 'is ', 'Gojo'])
newSentence

# list unpacking
a, c, b, *other = [1, 2, 3, 4, 5, 6, 7, 8]
print(a)
print(c + b)
print(other)

1
5
[4, 5, 6, 7, 8]

In [ ]:
# None
weapons = None
print(weapons)

None

**Dictionaries**

In [ ]:
dictionary = {
    'a': [1,2,3],
    'b': 'hello',
    'c': True,
    'age': 20
}
print(dictionary)
print(dictionary['b'])
print(dictionary['c'])

# Dictionary is a type of Data Structure
print(dictionary['a'][1])

myList = [
    {
    'a': [1,2,3],
    'b': 'hello',
    'c': True
  },
  {
    'a': [4,5,6],
    'b': 'world',
    'c': False
  }
]

# Dictionaries hold a lot of information than lists
print(myList[0]['a'])
print(myList[0]['a'][2])
print(myList[1]['a'])

{'a': [1, 2, 3], 'b': 'hello', 'c': True, 'age': 20}
hello
True
2
[1, 2, 3]
3
[4, 5, 6]

**Dictionary Methods**

In [ ]:
print(dictionary.get('d'))  # There is no word called age in the dictionary
print(dictionary.get('age', 55))  # Just in case there's no keyword age assign 55

# Dict
user = dict(name = 'John Jones')
print(user)

print('name' in user)  # refer dictionary methods w3 Schools

# Keys
print('hello' in user.keys())

# Values
print('John Jones' in user.values())

# Items
print(user.items())
print(dictionary.items())

# Clear
print(user.clear())
dictionary.clear()
print(dictionary)

# Copy
newDictionary = {
    'a': [1,2,3],
    'b': 'hello',
    'c': True,
    'age': 20
}
newDict = newDictionary.copy()
print(newDict)

# Pop
print(newDict.pop('a'))
print(newDict.popitem())
print(newDict)

# Update
newDictionary.update({'d': 100})
print(newDictionary)

None
20
{'name': 'John Jones'}
True
False
True
dict_items([('name', 'John Jones')])
dict_items([('a', [1, 2, 3]), ('b', 'hello'), ('c', True), ('age', 20)])
None
{}
{'a': [1, 2, 3], 'b': 'hello', 'c': True, 'age': 20}
[1, 2, 3]
('age', 20)
{'b': 'hello', 'c': True}
{'a': [1, 2, 3], 'b': 'hello', 'c': True, 'age': 20, 'd': 100}

**Tuples**

In [ ]:
myTuple = (1, 2, 3, 4, 5)
# myTuple[1] = 'a' throws an error and cannot be reassigned
print(myTuple)
print(5 in myTuple)
# Lists can be changed but Tuples cannot be changed
# Tuples are faster than lists
newDictionary.update({(1, 2): 99})
print(newDictionary[(1, 2)])

newTuple = myTuple[::-1]
print(newTuple)

(1, 2, 3, 4, 5)
True
99
(5, 4, 3, 2, 1)

**Tuple Methods**

In [ ]:
# Index
print(newTuple.index(3))
print(len(newTuple))

2
5

**Set**

In [ ]:
mySet = {1,2,3,4,5,5}  # Unordered collection of UNIQUE objects or items & do not support indexing
myList = [1,2,3,4]
mySet.add(100)
mySet.add(2)
print(mySet)
print(set(myList))  # examples discarding repeating usernames or emails
print(1 in mySet)
newSet = mySet.copy()
print(newSet)
mySet.clear()
print(mySet) # Empty Set

{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4}
True
{1, 2, 3, 4, 5, 100}
set()

**Set Methods**

In [ ]:
# Difference
Set = set(myList)
print(newSet)
print(Set)
print(newSet.difference(Set))
print(Set.difference(newSet))

# Discard
Set.discard(100)
print(Set)
copySet = newSet.copy()
copySet.discard(100)
print(copySet)

# Difference_update
print('--------------')
Set.add(99)
newSet.add(99)
print(Set)
print(newSet)
print(newSet.difference_update(Set))
print(newSet)
newSet.add(3)
print(Set.difference_update(newSet))
print(Set)

# Intersection
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6}
print(A.intersection(B))

# Union
print(A.union(B))

# IsDisjoint
print(A.isdisjoint(B))

# Subset
print(A.issubset(B))
print(B.issubset(A))

# Superset
print(A.issuperset(B))
print(B.issuperset(A))

{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4}
{100, 5}
set()
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
--------------
{1, 2, 99, 3, 4}
{1, 2, 3, 4, 5, 100, 99}
None
{100, 5}
None
{1, 2, 99, 4}
{3, 4, 5}
{1, 2, 3, 4, 5, 6}
False
False
False
False
False

**Conditional Logic**

In [ ]:
Age = int(input("Enter your Age: "))
if Age >= 18:   # Age >= 18 is true (boolean)
  print('you are old enough to drink & drive')
elif Age >= 16:
  print("you are old enough to drive but you can't drink")
else:  # in case Age >= 18 is false (boolean)
  print('come back when you are 18')

# elif part gets executed iff the if part is false & same goes with the else part and so forth
# Always try to avoid Indentation errors in Python

Enter your Age: 17
you are old enough to drive but you can't drink

In [ ]:
bool = True

if bool:  # Or bool == True
  print('run!')
else:
  print('walk!!')

# Google Truthy and Falsy

run!

In [ ]:
# Ternary Operator
num = int(input("Num: "))
a = num if num > 5 else 'error'
print(a)
message = 'Hello'
msg = message if message == 'Hello' else 'Word not found'
print(msg)

# Short Circuiting
flag = True
bool = False

if flag and bool:  # or and operators (kind of)
  print('Hii')

Num: 4
error
Hello

**Logical Operators**

In [ ]:
print(3>5)
print(3==5)
print('a' > 'A')
print('b'>'A')  # Upper case letters are less prioritized
print(1==1)
print(not(1==1)) # or !(1==1)

False
False
True
True
True
False

In [ ]:
# Exercise
isMagician = False
isSorcerer = True

if isMagician and isSorcerer:
  print("You are Dr. Strange! Holy Fu...")
elif isSorcerer and not isMagician:
  print('You are Wong! Sh*t...')
elif not isSorcerer and not isMagician:
  print('''I'm Batman''')

print(True == 1)
print('' == 1)
print([] == 1)
print(10 == 10.0) # Python converts the type and compares in case of an int or double
print([] == [])
print('1' == 1)

print('---------------------------')


print(True is 1)
print('' is 1)
print([] is 1)
print(10 is 10.0)
print([] is [])  # False because it's a Data Structure, they are created in a diff memory space
print('1' is 1)
print('----------------------------')

You are Wong! Sh*t...
True
False
False
True
True
False
---------------------------
False
False
False
False
False
False
----------------------------

<>:22: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:23: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:24: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:25: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:27: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:22: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:23: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:24: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:25: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:27: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-6-2b559d5dd016>:22: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(True is 1)
<ipython-input-6-2b559d5dd016>:23: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('' is 1)
<ipython-input-6-2b559d5dd016>:24: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print([] is 1)
<ipython-input-6-2b559d5dd016>:25: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)
<ipython-input-6-2b559d5dd016>:27: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is 1)

**Loops**

In [ ]:
items = ['Potato', 'Dal', 'Idly Rava', 'Mint Leaves', 'Spinach']

for item in items:
  print(item)

items = ('Potato', 'Dal', 'Idly Rava', 'Mint Leaves', 'Spinach')
i = 0
for item in items:
  print(item, i)
  i += 1

print('-------------------')
# iterable - lists, dictionaries, tuple, set, string

# iterations in dictionaries (important)
user = {
    'name': 'Ben',
    'age': 10,
    'canSwim': False
}

for item in user.items():
  print(item) # prints tuples

for item in user.values():
  print(item)

for item in user.keys():
  print(item)

for key, value in user.items():
  # key, value = item;
  print(key, value) # seperate the key and values

# for item in 50:
#  print(item) Not iterable

Potato
Dal
Idly Rava
Mint Leaves
Spinach
Potato 0
Dal 1
Idly Rava 2
Mint Leaves 3
Spinach 4
-------------------
('name', 'Ben')
('age', 10)
('canSwim', False)
Ben
10
False
name
age
canSwim
name Ben
age 10
canSwim False

In [ ]:
# Exercise
MyList = [1,2,3,4,5,6,7,8,9,10]
sum = 0

for i in MyList:
  sum += i
print(sum)

55

**Range()**

In [ ]:
print(list(range(10)))

for num in range(10):
  print(num)

for _ in range(10):
  print('sending message')

for i in range(10, 0, -2):
  print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9
sending message
sending message
sending message
sending message
sending message
sending message
sending message
sending message
sending message
sending message
10
8
6
4
2

**Enumeration**

In [ ]:
for i, char in enumerate('Hello'):
  print (i, char)

for i, j in enumerate(list(range(1,10))):
  if j == 5:
    print(i)

0 H
1 e
2 l
3 l
4 o
4

In [ ]:
# While Loops
i = 0
while i < 10:
  print(i)
  i += 1
  if i == 5:
    break

R = [1,2,3]
i = 0
while True:
  print(R[i])
  i += 1
  if (i == len(R)):
    break

# Break, Continue, Pass

0
1
2
3
4
1
2
3

In [ ]:
# Exercise
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]
]

for r in range(len(picture)):
  for c in range(len(picture[0])):
    if picture[r][c] == 1:
      print('*', end='')
    else:
      print(' ', end='')
  print('')

   *
  ***
 *****
*******
   *
   *

**Rules**

In [ ]:
# Your code must be:
# clean
# readable
# predictablr
# DRY (Do not Repeat Yourself)

In [ ]:
# Exercise
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

# Set Method
Set = set(some_list)
if len(some_list) != len(Set):
  print('Duplicates Found!')
else:
  print('No Duplicates Found!')

duplicates = []
for value in Set:
  if some_list.count(value) > 1:
    duplicates.append(value)

print(duplicates)

# Loops Approach
duplicates = []
for i in range(len(some_list)):
  for j in range(i + 1, len(some_list)):
    if some_list[i] == some_list[j]:
      duplicates.append(some_list[j])

print(duplicates)

# Count Approach
duplicates = []
for value in some_list:
  if some_list.count(value) > 1:
    if value not in duplicates:
      duplicates.append(value)
print(duplicates)

Duplicates Found!
['b', 'n']
['b', 'n']
['b', 'n']

****Functions****

In [ ]:
def say_hello(n):
  for i in range(n):
    print('hello world')

say_hello(1)

def tree():
  for r in range(len(picture)):
    for c in range(len(picture[0])):
      if picture[r][c] == 1:
        print('*', end='')
      else:
        print(' ', end='')
    print('')

tree()

hello world
   *
  ***
 *****
*******
   *
   *

**Arguments Vs Parameters**

In [ ]:
# Parameters
# Default Parameters
def sayHello(name = 'Peter Parker', emoji = ''):
  print(f'Hello {name} {emoji}')

# Arguments
sayHello('Emily', '')

# Positional Arguments
sayHello('', 'Emily')

# Keyword Arguments
sayHello(emoji = '', name = 'Emily')
sayHello()
sayHello('Emily')

Hello Emily
Hello  Emily
Hello Emily
Hello Peter Parker
Hello Emily

**Return**

In [ ]:
def add(num1, num2):
  return num1 + num2

print(add(3, 8))

total = add(3, 8)
print(add(9, total))

11
20

**Methods Vs Functions**

In [ ]:
# list()
# print()
# max()
# min()
# input()

def some_random_stuff():
  pass

some_random_stuff()

'hello'.capitalize()

def test(a):
  '''
  Info: This func tests and prints parameter a
  '''
  print(a)

test('!!!')
test('Nice')
help(test)
print(test.__doc__)

!!!
Nice
Help on function test in module __main__:

test(a)
    Info: This func tests and prints parameter a


  Info: This func tests and prints parameter a

**Clean Code**

In [ ]:
def isEven(num):
  return num % 2 == 0

print(isEven(5))

# *args **kwargs
def super_func(*args, **kwargs):
  print(args)
  print(kwargs)

super_func(1,2,3,4,5)
super_func(num1=5,num2=10)

False
(1, 2, 3, 4, 5)
{}
()
{'num1': 5, 'num2': 10}

In [ ]:
# Exercise
def highestEven(li):
  highValue = 0
  for i in range(len(li)):
    for j in range(i+1, len(li)):
      if li[i] % 2 == 0:
        if li[i] > li[j]:
          highValue = li[i]
        else:
          highValue = li[j]
  return highValue

print(highestEven([10,15,8,5,3,16]))

# Alternate Approach
def highestEven(arr):
  highValue = 0
  evens = []
  for item in arr:
    evens.append(item)
  return max(evens)

print(highestEven([10,15,8,5,3,16]))

16
16

**Scope**

In [ ]:
# Scope - what var do i have access to?
def some_func():
  tot = 100

# print(tot) will throw an error because it's only valuable to def scope (like a world or block of code)

a = 1 # global scope

def confuse():
  #a = 5 local scope
  return a

print(a)
print(confuse())

# Scope Rules
#1 - start with local
#2 - parent local
#3 - global
#4 - built in python functions.

# accessing var outside the scope
total = 0
def count():  # not a best practice
  global total  # ignoring this line would throw an error
  total += 1
  return total

count()
print(count())

# alternate method
def count(total):
  total += 1
  return total

print(count(count(count(total))))

1
1
2
5

In [ ]:
# nonlocal keyword (new python feature)
def outer():
  x = 'local'
  def inner():
    nonlocal x
    x = 'nonlocal'
    print('inner: ', x)

  inner()
  print('outer: ', x)

outer()

inner:  nonlocal
outer:  nonlocal

**Common Functions**

In [ ]:
# map, filter, zip, reduce
def multiply(item): # clean code
  # newList = []
  return (item*2)

print(list(map(multiply, [1,2,3])))

def isOdd(item):
  return item % 2 != 0

print(list(filter(isOdd, [1,2,3])))

myList = [1,2,3]
yourList = [10, 20, 30]
theirList = [100, 200, 300]
print(list(zip(myList, yourList, theirList)))

from functools import reduce
def accumulator(acc, item):
  print(acc, item)
  return acc + item
print(reduce(accumulator, myList, 10))

[2, 4, 6]
[1, 3]
[(1, 10, 100), (2, 20, 200), (3, 30, 300)]
10 1
11 2
13 3
16

**List Comprehensions**

In [ ]:
myList = [char for char in 'hello']
myList

['h', 'e', 'l', 'l', 'o']

In [ ]:
myList = [num for num in range(5)]
myList

[0, 1, 2, 3, 4]

In [ ]:
myList = [num*2 for num in range(5)]
myList

[0, 2, 4, 6, 8]

In [ ]:
myList = [num**2 for num in range(20) if num % 2 == 0]
myList

# Same goes for Set Comprehensions

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

**Dict Comprehensions**

In [ ]:
simpleDict = {
    'a' : 1,
    'b' : 2
}
myDict = {key: value**2 for key, value in simpleDict.items()}
print(myDict)

Dict = {num: num*2 for num in [1,2,3]}
print(Dict)

{'a': 1, 'b': 4}
{1: 2, 2: 4, 3: 6}

In [ ]:
# Exercise
someList = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

duplicates = list({char for char in someList if someList.count(char) > 1})
duplicates

['n', 'b']

In [ ]:
# Walrus Operator
a = 'helloooooooooooo'
if (n := len(a)) > 10:
    print(f"List is too long ({n} elements, expected <= 10)")

while (n := len(a)) > 1:
  print(n)
  a = a[:-1]
  print(a)

print(a)

List is too long (16 elements, expected <= 10)
16
hellooooooooooo
15
helloooooooooo
14
hellooooooooo
13
helloooooooo
12
hellooooooo
11
helloooooo
10
hellooooo
9
helloooo
8
hellooo
7
helloo
6
hello
5
hell
4
hel
3
he
2
h
h